/* RESET */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #1e293b;

    background: linear-gradient(135deg, #0f172a, #1e3a8a);

    min-height: 100vh;
}
/* ================= TOP ================= */
.top-section{
     background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color:white;
    padding:40px 20px;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-img img {
    width: 680px;
    height: auto;
}

.info {
    font-size: 20px;
}

/* ASIDE */
.aside-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    border-left: 6px solid #22c55e; /* verde */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* IMÁGENES */
.images {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.images img {
    width: 140px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.images img:hover {
    transform: scale(1.1) rotate(2deg);
}

/* ================= CARDS ================= */
#contenedor-cards {
    width: 95%;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    padding: 20px;
}

/* CARD */
/* Estado inicial */
.card{
    background: white;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.4s ease;
    border: 2px solid transparent;
    opacity: 0;
    transform: translateY(50px);
}

/* Aparece cuando entra en pantalla */
.card.visible{
    opacity: 1;
    transform: translateY(0);
}

/* Hover */
.card:hover{
    transform: translateY(-10px) scale(1.03);

    border: 2px solid #00ffff;

    box-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;

    cursor: pointer;
}

.card h2{
    color: #2563eb;
    border-bottom: 3px solid #2563eb;
    padding-bottom: 10px;
}

.card::after{
    content:"☕";
    position:absolute;
    top:15px;
    right:20px;
    font-size:32px;
    opacity:0.15;
}
.progress-section{
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.progress-section h2{
    color: white;
    margin-bottom: 20px;
}

.progress-bar{
    width: 100%;
    height: 25px;
    background: #1b263b;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #00ffff;
}

.progress-fill{
    height: 100%;
    width: 0%;
    border-radius: 30px;

    background: linear-gradient(
        90deg,
        #00ffff,
        #00ff88
    );

    animation: llenar 2s ease forwards;
}

.progress-section span{
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

@keyframes llenar{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

/* CODIGO */
.card pre{
    background: #1e1e1e;
    color: #d4d4d4;
    padding: 20px;
    border-radius: 12px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    border-left: 5px solid #22c55e;
}

.card code{
    font-family: Consolas, "Courier New", monospace;
}

/* PRUEBA */
.prueba{
    margin-top: 20px;
    background: #f8fafc;
    border-left: 5px solid #0ea5e9;
    padding: 15px;
    border-radius: 10px;
}

.prueba h3{
    margin-top: 0;
    color: #0369a1;
}

.card.show .prueba {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

/* ================= RECOMENDACIONES ================= */
.recomendaciones {
    padding: 60px 20px;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    text-align: center;
    color: white;
}

.recomendaciones h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* GRID */
.reco-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD RECO */
/* CARD RECO */
.reco-card {
    background: white;
    color: #1e293b;
    border-radius: 15px;
    padding: 25px;

    transform: translateY(50px);
    opacity: 0;

    transition:
        transform 0.4s ease,
        opacity 0.8s ease,
        box-shadow 0.4s ease,
        border-color 0.4s ease;

    cursor: pointer;

    border: 2px solid transparent;
    border-top: 5px solid #00ffff;

    position: relative;
    overflow: hidden;
}

/* APARECER AL HACER SCROLL */
.reco-card.show {
    opacity: 1;
    transform: translateY(0);
}

/* EFECTO HOVER */
.reco-card:hover {

    transform: translateY(-10px) scale(1.03);

    border-color: #00ffff;
    border-top-color: #00ffff;

    box-shadow:
        0 0 10px #00ffff,
        0 0 20px rgba(0,255,255,.7),
        0 0 40px rgba(0,255,255,.5);

}

/* BARRA LUMINOSA */
.reco-card::before {
    content: "";

    position: absolute;

    top: 0;
    left: -100%;

    width: 100%;
    height: 4px;

    background: linear-gradient(
        90deg,
        transparent,
        #00ffff,
        transparent
    );

    transition: 0.7s;
}
/* ICONOS */
.icono {
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
    transition: transform .3s ease;
}

.reco-card:hover .icono {
    transform: scale(1.2) rotate(8deg);
}

.reco-card:hover::before {
    left: 100%;
}
/* ================= MENÚ HAMBURGUESA ================= */

.menu-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.sidebar{
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100%;
    background: #0f172a;
    transition: .4s;
    z-index: 1000;
    padding-top: 80px;
}

.sidebar.active{
    left: 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin: 20px 0;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    transition: .3s;
}

.sidebar ul li a:hover{
    background: #2563eb;
}

/* ================= FOOTER ================= */

.footer{
    background: #020617;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content{
    max-width: 900px;
    margin: auto;
}

.footer h3{
    color: #60a5fa;
    margin-bottom: 15px;
}

.footer p{
    line-height: 1.8;
}

.copyright{
    margin-top: 20px;
    color: #94a3b8;
}
.hero-section{

    display:flex;
    justify-content:space-between;
    align-items:center;

    min-height:90vh;

    padding:60px;

    background:
    linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #111827
    );
}

.hero-content{
    max-width:650px;
}

.hero-badge{

    display:inline-block;

    background:#00ffff20;

    color:#00ffff;

    padding:10px 20px;

    border-radius:30px;

    margin-bottom:20px;

    border:1px solid #00ffff;
}

.hero-content h1{

    color:white;

    font-size:4rem;

    margin-bottom:20px;
}

.hero-content p{

    color:#d1d5db;

    line-height:1.8;

    font-size:1.1rem;
}

.hero-buttons{

    margin-top:30px;

    display:flex;

    gap:15px;
}
.btn-primary,
.btn-secondary{

    text-decoration:none;

    padding:15px 30px;

    border-radius:12px;

    font-weight:bold;

    transition:.4s;
}

.btn-primary{

    background:#00ffff;
    color:black;
}

.btn-primary:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 15px #00ffff,
    0 0 30px #00ffff;
}

.btn-secondary{

    border:1px solid #00ffff;
    color:#00ffff;
}

.btn-secondary:hover{

   transform:translateY(-5px);

    box-shadow:
    0 0 15px #00ffff,
    0 0 30px #00ffff;
}
.video-presentacion{

    width: 60px;

    margin: 50px auto;

    background: #f5f5f5;

    padding: 20px;

    border-radius: 20px;

    border: 2px solid #00ffff;

    box-shadow:
        0 0 15px #00ffff,
        0 0 30px rgba(0,255,255,.5);

    text-align: center;

    transition: .4s;
}

.video-presentacion:hover{

    transform: translateY(-5px);

    box-shadow:
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}

.video-presentacion h2{

    color: #1f2937;

    margin-bottom: 15px;
}

.video-presentacion video{

    width: 100%;

    border-radius: 12px;
}